@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Single+Day&display=swap');
/*
body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Single Day', cursive;
	background: linear-gradient(90deg, #fff 50%, #c81343 50%);
}
*/
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Single Day', cursive;
  }

.inpt{
	display: none;
}
img{
	width: 100%;
	height: 100%;
}
.book{
	display: flex;
}
#cover{
	width: 450px;
	height: 700px;
}
.flip-book{
	width: 450px;
	height: 700px;
	position: relative;
	perspective: 1500px;
}
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: .5s;
	color: #000;
}
p{
	font-size: 23px;
	line-height: 30px;
}
.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
}
.back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #e44444;
}
.next-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #000;
	font-size: 20px;
}
.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #000000;
	font-size: 20px;
}
#p1{
	z-index: 4;
}
#p2{
	z-index: 3;
}
#p3{
	z-index: 2;
}
#p4{
	z-index: 1;
}
#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}
#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}
#c4:checked ~ .flip-book #p4{
	transform: rotateY(-180deg);
	z-index: 4;
}


.Page-1{
	text-align: justify;
}
.pt-1{
	font-style: italic;
	color: #ee1818;
}
.p-1 {
	color: #ee1818;
}

audio {
    width: 300px;
    outline: none;
}

audio::-webkit-media-controls-panel {
    background-color: #ffcccc; /* Light red controls background */
    border-radius: 8px;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #660000; /* Dark red timeline and time display */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    color: #660000; /* Dark red play and mute buttons */
}

audio::-webkit-media-controls-volume-slider-container {
    margin-right: 10px;
}

.password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
	height: 400px;
	background-color: rgba(240, 255, 255, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}

.password-form {
    text-align: center;
}